.main
body{
    background-color: lightblue;
}
.main{
    background-color: lightcyan;
    margin: 30px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-info{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}

.dialog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: darkgrey;
}

.content {
    width: 500px;
    height: 300px;
    margin: 100px auto;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px darkgray;
}
.aclose{
    width: 500px;
    height: 60px;
    text-align: center;
}
.aclose span{
    line-height: 70px;
    font-size: 26px;
    font-weight: 700;
}
.contain{
    width: 500px;
    height: 230px;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    margin-right: 15px;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}
