<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>首页-didadi</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="../css/didadi.css">
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 ">
            <h2><span class="glyphicon glyphicon-flag" aria-hidden="true" th:text="${proposal.title}"></span></h2>
            <div class="media">
                <div class="media-body">
                    <span class="proposal-info" >
                         <span class="media-info-tagholder">
                            <span>标签：</span>
                            <span th:text="${proposal.tag}"></span>
                        </span><br>
                        <span class="media-info-desc">
                            <span>描述：</span>
                            <span th:text="${proposal.description}"></span>
                        </span><br>
                        <span class="media-info-loc">
                            <span>地点：</span>
                            <span th:text="${proposal.location}"></span>
                        </span><br>
                        <span class="media-info-date">
                            <span>已招募人数</span>
                            <span th:text="${proposal.recruitedNumber}+'/'+${proposal.expectNumber}"></span>
                        </span><br>
                        <span class="media-info-num">
                            <span>发布时间：</span>
                            <span th:text="${#dates.format(proposal.gmtCreate,'yyyy-MM-dd HH:mm:ss')}"></span>
                        </span>

                    </span>
                    <div name="applyform">
                        <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>申请加入</h2>
                        <form action="/apply" method="post">
                            <div class="form-group">
                                <label for="bio">简要信息</label>
                                <textarea name="bio" id="bio" class="from-control" cols="30" rows="10">此处可以是简单的问候，也可以填写申请加入的原因或想了解的问题。</textarea>
                            </div>
                            <div class="form-group">
                                <label for="avatar">File input</label>
                                <input type="file" id="avatar" name="avatar_url">
                                <p class="help-block">选择附件上传</p>
                            </div>
                            <div class="container-fluid main">
                                <div class="row">
                                    <br/><button type="submit" class="btn btn-success">申请</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div neme="user" id="user-info">
                <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <a th:href="'/person/'+${proposal.user.id}"><span th:text="${proposal.user.name}"></span></a>
                </h2>
                <div class="media">
                    <div class="media-left">
                        <a th:href="'/person/'+${proposal.user.id}">
                            <img class="media-object avatar-mx"  th:src="${proposal.user.avatarUrl}" alt="头像加载失败">
                        </a>
                    </div>
                    <div class="media-body">
                    <span class="media-info" >
                         <span class="uid">
                            <span>ID：</span>
                            <span th:text="${proposal.user.accountId}"></span>
                        </span><br>
                        <span class="media-info-desc">
                            <span th:text="${proposal.user.bio}"></span>
                        </span><br>
                    </span>
                    </div>
                </div>
            </div>
            <div name="p-relate" id="p-relate">
                <h2><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>相关事件</h2>
            </div>

        </div>
    </div>
</div>
</body>
</html>