<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>事件信息-didadi</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="./css/didadi.css"/>
    <script src="./js/jquery-3.7.1.min.js"></script>
    <script src="./js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <h2><span class="glyphicon glyphicon-flag" aria-hidden="true">事件标题</span></h2>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>当前标签下的其它事件：</h3>
        </div>
    </div>
</div>
</body>
</html>