<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>login-didadi</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/bootstrap-theme.min.css"/>
    <script src="./js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div class="input-group">
   <form action="/login" method="post">
       <input type="text" name="user_id" placeholder="user id (not username)"><br />
       <input type="password" name="password" placeholder="password"><br />
       <div class="container-fluid main">
           <div class="row">
               <div class="alert alert-danger col-lg-9 col-md-12 col-sm-12 col-xs-12" th:text="${error}"
                    th:if="${error != null}"></div>
               <br/><button type="submit" class="btn btn-success">登录</button>
           </div>
       </div>
   </form>
</div>
<div>
    <h4>Don't have an account?</h4>
    <a href="/signup">sign up</a>
</div>
</body>
</html>